/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 　* {
    box-sizing: border-box;
  }
  .contents {
    background-color: red;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .top-content {
    background-color: olive;
    height: 100vh;
    width: 300px;
  }
  .middle-content {
    background-color: purple;
    height: 100vh;
    width: 300px;
  }
  .bottom-content {
    background-color: maroon;
    height: 100vh;
    width: 300px;
  }
  header {
    background-color: lightyellow;
    padding: 20px;
  }
  .logo {
    height: 150px;
    font-size: 100px;
  }
  .list {
    height: 80px;
    width: 20vw;
    font-size: 50px;
    border: 1px solid black;
    justify-content: space-between;
  }
  .reserve {
    background-color: black;
    color: white;
  }
  def thank_you(hoge)
  puts "ありがとう#{hoge}さん"
end

name = "鈴木"
thank_you(name)
class Student
  【def initialize(family_name, first_name)
      @family_name = family_name
      @first_name = first_name】
     

  def introduce
    puts "私の名前は「#{@family_name + " " + @first_name}」です。"
  end
end

student = Student.【new】("山田", "太郎")
student.introduce